## mako
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/main.html" />

<%block name="bodyclass">view-teams is-in-course course</%block>
<%block name="pagetitle">${_("Teams")}</%block>
<%block name="headextra">
<%static:css group='style-course'/>
</%block>

<%include file="/courseware/course_navigation.html" args="active_page='teams'" />

<div class="container">
    <div class="teams-wrapper">
        <section class="teams-content">
        </section>
    </div>
</div>

<%block name="js_extra">
<script type="text/javascript">
    (function (require) {
        require(['teams/js/teams_tab_factory'], function (TeamsTabFactory) {
            var pageView = new TeamsTabFactory();
        });
    }).call(this, require || RequireJS.require);
</script>
<script type="text/javascript">
    (function (require) {
        require(['jquery',
                 'teams/js/views/topic_card',
                 'teams/js/models/topic_card'],
            function ($, TopicCardView, TopicCardModel) {
                var card1 = new TopicCardView({
                    model: new TopicCardModel({
                        name: 'Renewable Energy Production',
                        description: 'Teams in this topic will be exploring how changes in renewable energy production will change our day to day lives.',
                        team_count: Math.floor(Math.random() * 50),
                        id: 'renewable_energy'
                    }),

                    configuration: 'square_card'
                });
                var card2 = new TopicCardView({
                    model: new TopicCardModel({
                        name: 'Solar Power Cells',
                        description: 'Discuss the current technology trajectory of solar power cells.',
                        team_count: Math.floor(Math.random() * 1000),
                        id: 'solar_power_cells'
                    }),

                    configuration: 'square_card'
                });
                var card4 = new TopicCardView({
                    model: new TopicCardModel({
                        name: 'Wind Energy',
                        description: 'Explore how we can harness wind energy, either through large turbine farms, mid-ocean wind farms, and other types of wind energy that would be cut off from this listing because it is so long.',
                        team_count: Math.floor(Math.random() * 1000),
                        id: 'solar_power_cells'
                    }),

                    configuration: 'square_card'
                });
                var card3 = new TopicCardView({
                    model: new TopicCardModel({
                        name: 'Renewable Energy Production',
                        description: 'Teams in this topic will be exploring how changes in renewable energy production will change our day to day lives.',
                        team_count: Math.floor(Math.random() * 10000),
                        id: 'renewable_energy'
                    }),

                    configuration: 'list_card'
                });
                $('.teams-content').append(card1.el).append(card2.el).append(card4.el).append(card3.el);
        });
    }).call(this, require || RequireJS.require);
</script>
</%block>
