<%namespace name='static' file='../static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>
<div class="recent-updates">
  % for index, update in enumerate(visible_updates):
    <article class="updates-article">
      % if not update.get("is_error"):
        <h5 class="date localized_datetime" id="msg-date-${index}" data-format="shortDate" data-datetime="${update.get("date")}" data-language="${user_language}"></h5>
        <button
            class="toggle-visibility-button"
            data-hide="${_('Hide')}"
            data-show="${_('Show')}"
            aria-describedby="msg-date-${index}"
            aria-controls="msg-content-${index}"
            aria-expanded="true"
        ></button>
      % endif
      <div class="toggle-visibility-element article-content ${'hidden' if index >= 1 else ''}" id="msg-content-${index}">
      ${update.get("content")}
      </div>
    </article>
  % endfor
</div>

% if len(hidden_updates) > 0:
<button
    class="toggle-visibility-button show-older-updates"
    data-hide=""
    data-show="${_('Show Earlier Course Updates')}"
    aria-expanded="false"
    aria-controls="old-updates"
></button>
% endif

<div class="old-updates hidden toggle-visibility-element" id="old-updates">
  % for index, update in enumerate(hidden_updates):
    <article class="updates-article">
      <h5 class="date localized_datetime" id="msg-date-${index + len(visible_updates)}" data-format="shortDate" data-datetime="${update.get("date")}" data-language="${user_language}"></h5>
      <button
          class="toggle-visibility-button"
          data-hide="${_('Hide')}"
          data-show="${_('Show')}"
          aria-describedby="msg-date-${index + len(visible_updates)}"
          aria-controls="msg-content-${index + len(visible_updates)}"
          aria-expanded="false"
      ></button>
      <div class="toggle-visibility-element article-content hidden" id="msg-content-${index + len(visible_updates)}">${update.get("content")}</div>
    </article>
  % endfor
</div>

<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform(iterationKey=".localized_datetime");
</%static:require_module_async>
