<%!
  from django.utils.translation import ugettext as _
  from django.core.urlresolvers import reverse
%>
<%inherit file="main.html" />

<%namespace name='static' file='static_content.html'/>

<%block name="pagetitle">${_("Course authors")}</%block>

<section class="owners">
  <h2>${_("Course authors")}</h2>
  % if owners:
  <ul class="owners-listing">
    %for owner in owners:
    <li class="owners-listing-item">
        <a href="${reverse('owner_courses', kwargs={'username':owner.username})}" title="${_("Show {owner_username}'s courses").format(owner_username=owner.username)}">
        ${ owner.username }
        </a>
    </li>
    %endfor
  </ul>
  % else:
  ${_('No users have authored any courses yet.')};
  % endif
</section>
